@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --theme-primary: #2fbf71;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
  
body {
    background-color: #10101a;
}

::selection {
    background: var(--theme-primary);
    color: white;
}